.ConversationListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
    background: #f6f5f5;
}

.ConversationListContainer .searchBoxContainer {
    width: 19.9vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1vw solid #e3e7f1;
}

.ConversationListContainer .searchBoxContainer .searchInput {
    display: flex;
    justify-content: center;
    width: 19.9vw;
}

.ConversationListContainer .searchBoxContainer .searchInput .CustomiseInputClass {
    width: 18vw;
}

.ConversationListContainer .ConversationItemContainer .ConversationItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f5f5;
    width: 19.9vw;
    height: 10vh;
    padding: 5px;
    border-bottom: 0.1vw solid #e3e7f1;
    transition: background-color 0.3s;
}

.ConversationListContainer .ConversationItemContainer .ConversationItem:hover {
    background-color: #e3e7f1;
    cursor: pointer;
}

.ConversationListContainer .ConversationItemContainer .ConversationItem:active {
    background-color: #f3f3f3;
}

.ConversationListContainer .ConversationItemContainer .ConversationItem .leftSideItem {
    display: flex;
    flex-grow: 1;
}

.ConversationListContainer .ConversationItemContainer .ConversationItem .leftSideItem img {
    border-radius: 50px;
    border: 1px solid #aaaaaa;
}

.ConversationListContainer .ConversationItemContainer .ConversationItem .rightSideItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 3;
}
