html, body {
    height: 100%;
}

body {
    background-color: #F7EEE8;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'tahoma';
}

.Container {
    max-width: 50vw;
    max-height: 57vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 10px #888888;
}
/*left Side*/
.Container .leftSide {
    width: 18vw;
    height: 57vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /*background-image: linear-gradient(to right, #EC3649, #F35E43);*/
    background-image: linear-gradient(to right, #4880EC, #0F9FCF);
    color: #ffffff;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

/*right Side*/
.Container .rightSide {
    width: 32vw;
    height: 57vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
    background: #fff;
    border-radius: 0 5px 5px 0;
    color: #F78C7B;
}

/* login with facebook and google buttons */
.Container .rightSide .otherLoginWays {
    width: 32vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Container .rightSide .otherLoginWays button {
    width: 10vw;
    height: 5vh;
    background-color: #F9F6F2;
    border: 1px solid #F2EBE6;
    color: gray;
    margin-left: 15px;
    outline: none;
    font-size: 0.9em;
    text-align: center;
    transition: color,background-color 0.5s;
}

.Container .rightSide .otherLoginWays button:hover{
    color: #000000;
    background-color: #F1E9E5;
    cursor: pointer;
}

.Container .rightSide .otherLoginWays .FontAwesomeFaceBook, .FontAwesomeGoogle {
    font-size: 1.5em;
    font-size-adjust: unset;

}

.Container .rightSide .otherLoginWays .FontAwesomeFaceBook{
    color: #3A559F;
}

.Container .rightSide .otherLoginWays .FontAwesomeGoogle {
    color: #F3675C;
}

/* login inputs */

