body {
    background-color: #e0e0e0;
}

.container {
    background-color: #ffffff;
    width: 70vw;
    max-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #888888;
}

.container .rightSide {
    width: 45vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
    background-image: url("../image/mainpage3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 0 5px 5px 0;
    color: #f09595;
}
.container .leftSide {
    width: 25vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    color: #ffffff;
    text-align: left;
    border-radius: 5px 0 0 5px;

}

.container .leftSide .logo{
    display: flex;
    flex-grow: 2;
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    background-size: 40%;
    width: 20vw;
}

.container .leftSide .description{
    display: flex;
    flex-grow: 8;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 15px;
    text-align: justify;
}

.container .leftSide .description .LoginSignUpBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
}

@media screen and (max-width: 975px) {

    .container .rightSide {
        background-image: none;
        flex-grow: 0;
        width: 0;
    }
    .container .leftSide {
        flex-grow: 1;
        width: 70vw;

    }
    .container .leftSide .logo{
        flex-grow: 2;
        background-image: url("../image/mainpage3.png");
        background-size: 100% 100%;
        width: 70vw;
    }

    .container .leftSide .description{
        width: 70vw;
        flex-grow: 1;
        justify-content: flex-start;
        padding-right: 10px;
    }

    .container .leftSide .description .LoginSignUpBtn{
        justify-content: space-evenly;
        align-items: center;
        width: 70vw;
        height: 10vw;
    }

    @media screen and (max-width: 660px) {
        .container{
            font-size: 2vw;
        }
    }
}