.ContentContainer {
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 1vw;
}

.ContentContainer .messageContainerLeft, .messageContainerRight {
    width: min-content;
    height: min-content;
    padding: 1vw 1vw 0.4vw 1vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.ContentContainer .messageContainerLeft {
    background: #F6F6F6;
}

.ContentContainer .messageContainerRight {
    background: #E1FFC7;
}

.ContentContainer .textMessage {
    font-size: 1vw;
    width: 28vw;
    height: min-content;
    word-wrap: break-word;
    text-align: justify;
}

.ContentContainer .messageContainerRight .textMessage {
    font-family: 'BYekan', sans-serif;
}

.ContentContainer .messageContainerLeft .textMessage {
    font-family: 'Solway-Regular', sans-serif;
}


.ContentContainer .messageTime {
    font-size: 0.9vw;
    text-align: right;
    color: #aaaaaa;
}

.ContentContainer .sender {
    direction: rtl;
}