.AllElementMessenger {
    width: 100vw;
    height: 100vh;
    background-color: #f9f6f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.MessengerContainer {
    background-color: #ffffff;
    width: 70vw;
    height: 80vh;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px #888888;
}

.AllElementMessenger .MessengerContainer .rightSideMessenger {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 51vw;
    height: 80vh;
    border-radius: 0 15px 15px 0;
}

.AllElementMessenger .MessengerContainer .leftSideMessenger {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
    width: 19vw;
    height: 80vh;
    border-radius: 15px 0 0 15px;
    border-right: 1px solid #bff7d6;
    overflow-y: hidden;
    overflow-x: hidden;
    direction: rtl;
    background: #f6f5f5;
}

.AllElementMessenger .MessengerContainer .leftSideMessenger:hover {
    overflow-y: scroll;
    overflow-x: hidden;
}

.AllElementMessenger .MessengerContainer .rightSideMessenger .headerContainer,.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #075E55;
    width: inherit;
    height: 7vh;
    border-bottom: 0.1vw solid #e3e7f1;
    border-radius: 0 10px 0 0;
    line-height: 7vh;
    padding: 0 15px;
    font-family: 'Solway-Regular';
}

.AllElementMessenger .MessengerContainer .rightSideMessenger .header h1, h2, h3 {
    color: #ffffff;
    width: auto;
}


.AllElementMessenger .MessengerContainer .rightSideMessenger .content {
    display: flex;
    flex-grow: 3.85;
    background-image: url("../image/contentBack1.jpg");
    background-size: 40%;
    width: inherit;
    position: relative;
}

.AllElementMessenger .MessengerContainer .rightSideMessenger .content .scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50vw;
    background: #F6F6F6;
    position: fixed;
    right: 18%;
    bottom: 17%;
}

.AllElementMessenger .MessengerContainer .rightSideMessenger .content .scroll a {
    text-align: center;
    display: block;
    width: inherit;
    color: #888888;
    font-size: 1.2vw;
}

.AllElementMessenger .MessengerContainer .rightSideMessenger .footer {
    display: flex;
    flex-grow: 0.1;
    background-image: url("../image/contentBack1.jpg");
    width: inherit;
    height: 8vh;
    border-radius: 0 0 15px 0;
}

