@font-face {
  font-family: 'BAUHS93';
  src: url('./Fonts/Bauhaus93/BAUHS93.eot');
  src: url('./Fonts/Bauhaus93/BAUHS93.eot?#iefix') format('embedded-opentype'),
  url('./Fonts/Bauhaus93/BAUHS93.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Solway-Regular';
  src: url('./Fonts/Solway/Solway-Regular.eot');
  src: url('./Fonts/Solway/Solway-Regular.eot?#iefix') format('embedded-opentype'),
  url('./Fonts/Solway/Solway-Regular.svg#Solway-Regular') format('svg'),
  url('./Fonts/Solway/Solway-Regular.ttf') format('truetype'),
  url('./Fonts/Solway/Solway-Regular.woff') format('woff'),
  url('./Fonts/Solway/Solway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}
